nav{
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
}
nav button{
    font-size: 20px;
    border: 1px solid white;

}

#food-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

h1{
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;

}
